/* GLOBAL ============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-dark: #292929;
  --color-green-cromai: #9ec64b;
  --color-red-cromai: #e44b31;
  --color-orange-cromai: #f9ad30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F0F2F5;
}