/* GLOBAL ============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --color-dark: #292929;
  --color-green-cromai: #9ec64b;
  --color-red-cromai: #e44b31;
  --color-orange-cromai: #f9ad30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F0F2F5;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

/* APP ============================== */
.container {
  width: min(80vw, 1000px);
  margin: 0 auto;
}

.main-content {
  display: flex;
  margin-top: 4rem;
}

.result-content {
  border: 1px solid var(--color-dark);
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-content h2 {
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  font-weight: normal;
  color: var(--color-dark);
}

.result-content p {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--color-dark);
}


/* MOBILE BREAKPOINTS ================= */
@media (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
}