/* GLOBAL ============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --color-dark: #292929;
  --color-green-cromai: #9ec64b;
  --color-red-cromai: #e44b31;
  --color-orange-cromai: #f9ad30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F0F2F5;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

/* APP ============================== */
.container {
  width: min(80vw, 1000px);
  margin: 0 auto;
}

.main-content {
  display: flex;
  margin-top: 4rem;
}


/* MOBILE BREAKPOINTS ================= */
@media (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
}